$white:     #fff;
$black:     #000;
$blue:      #0d6efd;
$indigo:    #2e5dcc;
$purple:    #6f42c1;
$pink:      #d63384;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #3bcfad;
$teal:      #5ee1e0;
$teal-deep: #5ee1e0;
$cyan:      #0dcaf0;
$base:      #f1f7fe;

$primary:       #0075ff;
$secondary:     #a0a5b2;
$success:       $green;
$info:          $cyan;
$warning:       #ffa53d;
$danger:        $red;
$light:         #f8f9fa;
$dark:          #212529;
$muted:         #9ea4b1;
$border-color:  #d3d3d3;

$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark
);

$radius-default: 18px;
$sidebar-width: 260px;
$transition-duration: 0.25s;

:root {
  --color-primary: #{($primary)};
  --color-font: #{lighten($black, 15%)};
  --color-font-dim: #93b0c8;
  --color-border: #{$border-color};
  --color-muted: #{$muted};
  --color-secondary: #{$secondary};
  --color-indigo: #{$indigo};
  --color-success: #{$success};
  --color-teal: #{$teal};
  --color-teal-deep: #{$teal-deep};

  --bg-primary: #{$primary};
  --bg-search: #{$white};
  --bg-dropdown: #{$white};
  --bg-base: #{$base};
  --bg-menu: #{$white};
}

[theme='dark'] {

}