<template>
    <div class="chart-wrapper">
        <canvas id="myChart" height="180"/>
    </div>
</template>

<script>
    import Chart from 'chart.js/auto';
    import ChartMixin from '@/mixins/ChartMixin';

    export default {
        name: 'CustomLineChart',
        mixins: [ChartMixin],
        props: {
            labels: {
                type: Array,
                default: () => {
                    return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                }
            },
            datasets: {
                type: Array,
                default: () => {
                    return [
                        {
                            data: [30, 55, 60, 80, 65, 50, 69, 55, 40, 65, 25, 20],
                            backgroundColor: 'rgba(62, 109, 220, 0.08)',
                            borderColor: '#2e5dcc',
                            color: '#f3f3f3',
                            borderWidth: 3,
                            fill: true,
                            pointBackgroundColor: '#2e5dcc',
                            pointBorderColor: '#fff',
                            pointBorderWidth: 2,
                            pointRadius: 5,
                            lineTension: 0.4,
                            radius: 6
                        },
                        {
                            data: [0, 35, 40, 60, 45, 30, 49, 35, 20, 45, 5, 0],
                            backgroundColor: 'rgba(94, 225, 224, 0.2)',
                            borderColor: '#5fe1e0',
                            color: '#f3f3f3',
                            borderWidth: 3,
                            fill: true,
                            pointBackgroundColor: '#5fe1e0',
                            pointBorderColor: '#fff',
                            pointBorderWidth: 2,
                            pointRadius: 5,
                            lineTension: 0.4,
                            radius: 6
                        }
                    ]
                }
            },
        },
        data() {
            return {
                chartOptions: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: false
                            },
                            grid: {
                                display: this.showXAxisLine,
                                drawBorder: false,
                                offset: true,
                                borderColor: '#f1f1f1',
                                color: '#eaeaea',
                                drawTicks: false
                            },
                            ticks: {
                                color: '#a0a5b2',
                                padding: 15,
                                font: {
                                    family: "'Poppins', sans-serif",
                                    size: 13,
                                }
                            },
                            min: 0,
                            max: 100,
                            suggestedMin: 0,
                            suggestedMax: 100
                        },
                        y: {
                            display: true,
                            title: {
                                display: false,
                            },
                            grid: {
                                display: this.showYAxisLine,
                                drawBorder: false,
                                offset: true,
                                borderColor: '#f1f1f1',
                                color: '#eaeaea',
                                drawTicks: true
                            },
                            ticks: {
                                color: '#a0a5b2',
                                padding: 15,
                                font: {
                                    family: "'Poppins', sans-serif",
                                    size: 13,
                                },
                            },
                            min: 0,
                            max: 100,
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }
                },
                data1: this.datasets[0].data,
                data2: this.datasets[1].data,
            }
        },
        mounted() {
            const ctx = document.getElementById('myChart');

            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: this.labels,
                    datasets: this.datasets
                },
                options: this.chartOptions
            });


            // Filtering Chart Data
            const weekFilter = document.querySelector('.filter-by-week'),
                  monthFilter = document.querySelector('.filter-by-month');

            weekFilter.addEventListener('click', (e) => {
                monthFilter.classList.remove('active');
                e.target.classList.add('active');
                updateBarGraph('week')
            });
            monthFilter.addEventListener('click', (e) => {
                weekFilter.classList.remove('active');
                e.target.classList.add('active')
                updateBarGraph('month')
            });

            const updateBarGraph = (type) => {
                if (type === 'week') {
                    myChart.data.datasets.forEach((dataset, index) => {
                        if (index === 0) {
                            dataset.data = [10, 30, 20, 50, 60, 40, 87, 5, 8, 97, 15, 20];
                        } else {
                            dataset.data = [30, 50, 40, 70, 80, 60, 97, 25, 24, 21, 24, 5];
                        }
                    });
                } else {
                    myChart.data.datasets.forEach((dataset, index) => {
                        if (index === 0) {
                            dataset.data = this.data1;
                        } else {
                            dataset.data = this.data2;
                        }
                    });
                }
                myChart.update();
            }
        }
    }
</script>