<template>
    <div class="chart-wrapper doughnut-chart">
        <canvas :id="chartId" height="100"/>
    </div>
</template>

<script>
    import Chart from 'chart.js/auto';
    import ChartMixin from '@/mixins/ChartMixin';

    export default {
        name: 'CustomDoughnutChart',
        mixins: [ChartMixin],
        props: {
            labels: {
                type: Array,
                default: () => {
                    return ['Blue', 'Light']
                }
            },
            datasets: {
                type: Array,
                default: () => {
                    return [
                        {
                            data: [1],
                            weight: 0.6,
                            borderWidth: 0,
                            backgroundColor: '#f6fbff',
                            hoverBackgroundColor: '#f6fbff'
                        },
                        {
                            data: [30, 70],
                            weight: 0.7,
                            borderWidth: 0,
                            backgroundColor: ['#016fff', '#e1eefe'],
                            hoverBackgroundColor: ['#016fff', '#e1eefe']
                        }
                    ]
                }
            },
            weekFilterData: {
                type: Array,
                default: () => {
                    return [70, 30]
                }
            }
        },
        data() {
            return {
                data1: this.datasets[1].data,
                weeklyFilterData: this.weekFilterData
            }
        },
        mounted() {
            const ctx = document.getElementById(this.chartId);

            let myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: this.labels,
                    datasets: this.datasets
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            enabled: false
                        }
                    }
                }
            });

            // Filtering Chart Data
            const weekFilter = document.querySelector(`.filter-dropdown.${this.chartId} .filter-by-week`),
                monthFilter = document.querySelector(`.filter-dropdown.${this.chartId} .filter-by-month`);

            weekFilter.addEventListener('click', (e) => {
                monthFilter.classList.remove('active');
                e.target.classList.add('active');
                updateBarGraph('week')
            });
            monthFilter.addEventListener('click', (e) => {
                weekFilter.classList.remove('active');
                e.target.classList.add('active');
                e.preventDefault();
                updateBarGraph('month');
            });

            const updateBarGraph = (type) => {
                if (type === 'week') {
                    myChart.data.datasets.forEach((dataset, index) => {
                        dataset.data = this.weeklyFilterData;
                    });
                } else {
                    myChart.data.datasets.forEach((dataset, index) => {
                        dataset.data = this.data1;
                    });
                }
                myChart.update();
            }
        }
    }
</script>