@import '../variables';

.bg-primary-light {
  background-color: rgba($primary, 0.1);
}

.bg-success-light {
  background-color: rgba($success, 0.1);
}

.bg-warning-light {
  background-color: rgba($warning, 0.1);
}

.bg-info-light {
  background-color: rgba($info, 0.1);
}

.bg-danger-light {
  background-color: rgba($danger, 0.1);
}