<template>
    <div>
        <div>
            <h3 class="mb-1 text-capitalize">{{ title }}</h3>
            <p class="mb-0 text-muted text-capitalize">{{ subtitle }}</p>
        </div>
        <slot name="breadcrumb-action"/>
    </div>
</template>

<script>
    export default {
        name: 'Breadcrumb',
        props: {
            title: {
                type: String,
                default: 'Page title'
            },
            subtitle: {
                type: String,
                default: 'Page subtitle'
            }
        }
    }
</script>