<template>
    <div>
        <preloader v-if="preloader"/>

        <div v-else>
            <breadcrumb
                title="Poli Overview"
                subtitle="Welcome Back, Barly"
                class="d-flex align-items-center justify-content-between mb-4">
                <template v-slot:breadcrumb-action>
                    <button type="button" class="btn btn-lg btn-primary d-flex align-items-center">
                        <i class="feather-plus me-3"/> Register Patient
                    </button>
                </template>
            </breadcrumb>

            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="row">
                        <div class="col-md-4 col-lg-12 col-xl-4 mb-4"
                             v-for="(counterData, index) in userCountersData"
                             :key="`counter-${index}`">
                            <div class="h-100 card rounded-default border-0 bg-white">
                                <div class="card-body p-all-20 d-flex align-items-center">
                                    <div
                                        :class="[`icon-box me-3`, {'success': index === 0}, {'warning': index === 1}, {'primary': index === 2}]">
                                        <img :src="getWidgetIcon(index)"
                                             class="img-fluid"
                                             alt="User mask">
                                    </div>
                                    <div>
                                        <small class="text-muted text-capitalize">{{ counterData.title }}</small>
                                        <h6 class="fs-18">{{ counterData.value.toLocaleString() }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 rounded-default border-0 bg-white">
                        <div class="card-body p-4">
                            <div class="d-flex flex-wrap align-items-start justify-content-between mb-3">
                                <div>
                                    <h5 class="mb-3 card-title">{{ covidStatisticsReport.title }}</h5>
                                    <div class="chart-legends">
                                        <div :class="[`legend purple`, index === 0 ? 'purple' : 'teal']"
                                             v-for="(type, index) in covidStatisticsReport.types"
                                             :key="`report-type-${index}`">
                                            {{ type }}
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-filter-button-wrapper">
                                    <div class="position-relative">
                                        <button type="button" class="btn active filter-by-month">
                                            Month
                                        </button>
                                        <button type="button" class="btn filter-by-week">
                                            Weekly
                                        </button>
                                        <div class="slide"/>
                                    </div>
                                </div>
                            </div>
                            <custom-line-chart
                                :show-x-axis-line="true"
                                :labels="covidStatisticsReport.categories"
                                :datasets="covidReportDataset"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 mb-4">
                    <div class="h-100 card rounded-default border-0 bg-white">
                        <div class="card-body p-all-20">
                            <div class="d-flex align-items-start justify-content-between mb-3">
                                <h5 class="mb-3 card-title">Informations</h5>
                                <div class="dropdown filter-dropdown">
                                    <button class="btn btn-sm dropdown-toggle no-arrow btn-report-filter"
                                            type="button"
                                            id="dropdownInformationAction"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="feather-more-horizontal"/>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownInformationAction">
                                        <li>
                                            <button class="dropdown-item">
                                                View Details
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item">
                                                Settings
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-4">
                                <select class="form-select form-select-sm form-select-month">
                                    <option value="Jan">Jan</option>
                                    <option value="Feb">Feb</option>
                                    <option value="Mar">Mar</option>
                                    <option value="Apr">Apr</option>
                                    <option value="May">May</option>
                                    <option value="Jun" selected>Jun</option>
                                    <option value="Jul">Jul</option>
                                    <option value="Aug">Aug</option>
                                    <option value="Sep">Sep</option>
                                    <option value="Oct">Oct</option>
                                    <option value="Nov">Nov</option>
                                    <option value="Dec">Dec</option>
                                </select>
                            </div>
                            <div class="information-calendar mb-4" @wheel="onMouseWheel($event)">
                                <ul>
                                    <li v-for="(calendar, index) in informationCalendar" :key="`date-${index}`">
                                        <button type="button" :class="[`date`, {'active': index === 2}]">
                                            <span class="week-name">{{ calendar.day }}</span>
                                            <span class="week-day">{{ calendar.date }}</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <h6 class="mb-3">Appointment List</h6>
                            <div class="wizard-card mb-4">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="icon-box flex-shrink-0 p-all-20 me-3">
                                        <img :src="require(`@/assets/images/icons/covid-icon.png`)"
                                             class="img-fluid"
                                             alt="Covid icon">
                                    </div>
                                    <div>
                                        <h6 class="wizard-title mb-1">Covid Swab Test</h6>
                                        <p class="wizard-subtitle-muted mb-2">8:00 Am - 4:00 PM</p>
                                        <p class="wizard-subtitle mb-0">120 Participants</p>
                                    </div>
                                </div>
                                <div class="avatar-group">
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-1">
                                        JK
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-2">
                                        BV
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-3">
                                        CR
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-4">
                                        FB
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-5">
                                        50<sup>+</sup>
                                    </div>
                                </div>
                                <button class="wizard-action bg-primary">
                                    <i class="feather-chevron-right"/>
                                </button>
                                <img :src="require(`@/assets/images/icons/covid-light-icon.png`)"
                                     class="wizard-shape"
                                     alt="Covid light icon">
                            </div>
                            <div class="wizard-card">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="icon-box flex-shrink-0 p-all-20 me-3">
                                        <img :src="require(`@/assets/images/icons/heart-icon.png`)"
                                             class="img-fluid"
                                             alt="Covid icon">
                                    </div>
                                    <div>
                                        <h6 class="wizard-title mb-1">Covid Rapid Test</h6>
                                        <p class="wizard-subtitle-muted mb-2">9:00 Am - 5:00 PM</p>
                                        <p class="wizard-subtitle mb-0">120 Participants</p>
                                    </div>
                                </div>
                                <div class="avatar-group">
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-1">
                                        Ak
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-2">
                                        TV
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-3">
                                        ZA
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-4">
                                        MT
                                    </div>
                                    <div class="avatar avatar-circle no-image size-35 avatar-color-5">
                                        50<sup>+</sup>
                                    </div>
                                </div>
                                <button class="wizard-action bg-primary">
                                    <i class="feather-chevron-right"/>
                                </button>
                                <img :src="require(`@/assets/images/icons/covid-light-icon.png`)"
                                     class="wizard-shape"
                                     alt="Covid light icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="h-100 card rounded-default border-0 bg-white">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-start justify-content-between mb-3">
                                <h5 class="mb-3 card-title">{{ reportByGender.title }}</h5>
                                <div class="dropdown filter-dropdown genderReportChart">
                                    <button class="btn btn-sm dropdown-toggle no-arrow btn-report-filter"
                                            type="button"
                                            id="dropdownReportGender"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="feather-more-horizontal"/>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownReportGender">
                                        <li>
                                            <button class="dropdown-item filter-by-month active">
                                                This month
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item filter-by-week">
                                                This week
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-4">
                                <custom-doughnut-chart
                                    chart-id="genderReportChart"
                                    :labels="reportByGender.types"
                                    :datasets="genderReportDataset"
                                />
                            </div>
                            <div class="chart-legends">
                                <div :class="[`legend`, index === 0 ? 'primary' : 'light-blue']"
                                     v-for="(type, index) in reportByGender.types"
                                     :key="`report-type-${index}`">
                                    {{ type }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="h-100 card rounded-default border-0 bg-white">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-start justify-content-between mb-3">
                                <h5 class="mb-3 card-title">{{ reportByGroup.title }}</h5>
                                <div class="dropdown filter-dropdown patientGroupChart">
                                    <button class="btn btn-sm dropdown-toggle no-arrow btn-report-filter"
                                            type="button"
                                            id="dropdownReportGroup"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="feather-more-horizontal"/>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownReportGroup">
                                        <li>
                                            <button class="dropdown-item filter-by-month active">
                                                This month
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item filter-by-week">
                                                This week
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-4">
                                <custom-doughnut-chart
                                    chart-id="patientGroupChart"
                                    :labels="reportByGroup.types"
                                    :datasets="patientGroupDataset"
                                    :week-filter-data="[60, 30, 10]"
                                />
                            </div>
                            <div class="chart-legends">
                                <div
                                    :class="[`legend`, index === 0 ? 'light-blue' : 'primary', index === 2 ? 'teal-deep' : '']"
                                    v-for="(type, index) in reportByGroup.types"
                                    :key="`report-type-${index}`">
                                    {{ type }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="h-100 card rounded-default border-0 bg-white">
                        <div class="card-body p-4 d-flex flex-column justify-content-between">
                            <div>
                                <div class="d-flex align-items-start justify-content-between mb-3">
                                    <h5 class="mb-3 card-title">Policlinic Division</h5>
                                    <div class="dropdown filter-dropdown">
                                        <button class="btn btn-sm dropdown-toggle no-arrow btn-report-filter"
                                                type="button"
                                                id="dropdownDivision"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="feather-more-horizontal"/>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdownDivision">
                                            <li>
                                                <button class="dropdown-item filter-by-month active">
                                                    This month
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item filter-by-week">
                                                    This week
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="icon-box success flex-shrink-0 size-40 p-all-20 me-3">
                                        <img :src="require(`@/assets/images/icons/icon-dental.png`)"
                                             class="img-fluid"
                                             alt="Covid icon">
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Dental Policlinic</h6>
                                        <small class="text-muted">Open: 7:00 - 11:00 AM</small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="icon-box danger flex-shrink-0 size-40 p-all-20 me-3">
                                        <img :src="require(`@/assets/images/icons/icon-lever.png`)"
                                             class="img-fluid"
                                             alt="Covid icon">
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Cardiac Policlinic</h6>
                                        <small class="text-muted">Open: 7:00 - 11:00 AM</small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="icon-box purple flex-shrink-0 size-40 p-all-20 me-3">
                                        <img :src="require(`@/assets/images/icons/icon-radiology.png`)"
                                             class="img-fluid"
                                             alt="Covid icon">
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Radiology Policlinic</h6>
                                        <small class="text-muted">Open: 7:00 - 11:00 AM</small>
                                    </div>
                                </div>
                            </div>
                            <router-link to="/" class="w-100 d-block btn btn-lg btn-primary-light">
                                See More Policlinic
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import axios from 'axios';
    import Preloader from '@/components/preloader/Preloader';
    import CustomLineChart from '@/components/chart/CustomLineChart';
    import Breadcrumb from '@/components/breadcrumb/Breadcrumb';
    import CustomDoughnutChart from '@/components/chart/CustomDoughnutChart';

    export default {
        name: 'Index',
        components: {CustomDoughnutChart, Breadcrumb, Preloader, CustomLineChart},
        data() {
            return {
                preloader: false,
                userCountersData: '',
                covidStatisticsReport: '',
                reportByGender: '',
                reportByGroup: '',
                covidReportDataset: [
                    {
                        data: '',
                        backgroundColor: 'rgba(62, 109, 220, 0.08)',
                        borderColor: '#2e5dcc',
                        color: '#f3f3f3',
                        borderWidth: 3,
                        fill: true,
                        pointBackgroundColor: '#2e5dcc',
                        pointBorderColor: '#fff',
                        pointBorderWidth: 2,
                        pointRadius: 5,
                        lineTension: 0.4,
                        radius: 6
                    },
                    {
                        data: '',
                        backgroundColor: 'rgba(94, 225, 224, 0.2)',
                        borderColor: '#5fe1e0',
                        color: '#f3f3f3',
                        borderWidth: 3,
                        fill: true,
                        pointBackgroundColor: '#5fe1e0',
                        pointBorderColor: '#fff',
                        pointBorderWidth: 2,
                        pointRadius: 5,
                        lineTension: 0.4,
                        radius: 6
                    }
                ],
                genderReportDataset: [
                    {
                        data: [1],
                        weight: 0.6,
                        borderWidth: 0,
                        backgroundColor: '#f6fbff',
                        hoverBackgroundColor: '#f6fbff'
                    },
                    {
                        data: '',
                        weight: 0.7,
                        borderWidth: 0,
                        backgroundColor: ['#016fff', '#e1eefe'],
                        hoverBackgroundColor: ['#016fff', '#e1eefe']
                    }
                ],
                patientGroupDataset: [
                    {
                        data: [1],
                        weight: 0.6,
                        borderWidth: 0,
                        backgroundColor: '#f6fbff',
                        hoverBackgroundColor: '#f6fbff'
                    },
                    {
                        data: '',
                        weight: 0.7,
                        borderWidth: 0,
                        backgroundColor: ['#016fff', '#e1eefe', '#5ee1e0'],
                        hoverBackgroundColor: ['#016fff', '#e1eefe', '#5ee1e0']
                    }
                ],
                informationCalendar: []
            }
        },
        methods: {
            getDashboardData() {
                this.preloader = true;

                axios.get('https://apitest.iqfulfillment.com/v1/test/dashboard')
                    .then((response) => {
                        this.userCountersData = response.data.counters;
                        this.covidStatisticsReport = response.data.covid_report;
                        this.reportByGender = response.data.report_by_gender[0];
                        this.reportByGroup = response.data.report_by_group[0];

                        if (this.covidStatisticsReport.values.length) {
                            this.covidReportDataset[0].data = this.covidStatisticsReport.values[0]
                            this.covidReportDataset[1].data = this.covidStatisticsReport.values[1]
                        }

                        if (this.reportByGender.values.length) {
                            this.genderReportDataset[1].data = this.reportByGender.values
                        }

                        if (this.reportByGroup.values.length) {
                            this.patientGroupDataset[1].data = this.reportByGroup.values
                        }

                        this.preloader = false;
                    })
                    .catch((error) => {
                        console.log(error)
                        this.preloader = false;
                    });
            },
            getWidgetIcon(index) {
                if (index === 0) return require(`@/assets/images/icons/user-mask.png`)
                if (index === 1) return require(`@/assets/images/icons/icon-stethoscope.png`)
                else return require(`@/assets/images/icons/icon-first-aid.png`)
            },
            onMouseWheel(e) {
                const scrollContainer = document.querySelector('.information-calendar')
                e.preventDefault();
                scrollContainer.scrollLeft += e.deltaY;
            }
        },
        mounted() {
            this.getDashboardData();

            // Create current month calendar
            const dateObj = new Date(),
                  daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                  getCurrentYear = dateObj.getFullYear(),
                  getCurrentMonth = dateObj.getMonth() + 1,
                  getCurrentDate = dateObj.getDate(),
                  allDaysInMonth = new Date(getCurrentYear, getCurrentMonth, 0).getDate(),
                  today = new Date(getCurrentYear, getCurrentMonth, getCurrentDate).getDate();

            for (let date = 1; date <= allDaysInMonth; date++) {
                let day = daysOfWeek[new Date(getCurrentYear, getCurrentMonth, date).getDay()];
                this.informationCalendar.push({
                   date: date,
                   day: day,
                   today: date === today ? 'true' : 'false'
                });
            }
        }
    }
</script>