<template>
    <nav class="navbar navbar-top">
        <div class="w-100 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <button type="button"
                        class="d-block d-lg-none btn-mobile me-3"
                        @click="toggleSidebar">
                    <i class="feather-menu"/>
                </button>
                <button type="button"
                        class="d-block d-sm-none btn-mobile"
                        @click="toggleSearch">
                    <i class="feather-search"/>
                </button>
                <autocomplete-search/>
            </div>
            <ul class="navbar-nav-right">
                <li class="nav-item dropdown dropdown-notification me-3">
                    <a class="nav-link dropdown-toggle no-arrow"
                       href="#"
                       id="notificationDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="feather-bell"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                <span class="notify-icon bg-info-light me-3">
                                    <i class="feather-user-plus text-info fs-5"/>
                                </span>
                                <div class="d-flex flex-column me-3">
                                    <strong class="fw-500">New patient detected</strong>
                                    <small class="text-muted">Lorem ipsum dolor sit...</small>
                                </div>
                                <span class="text-muted notify-time">
                                    12:12am
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                <span class="notify-icon bg-danger-light me-3">
                                    <i class="feather-mic text-danger fs-5"/>
                                </span>
                                <div class="d-flex flex-column me-3">
                                    <strong class="fw-500">Upcoming events</strong>
                                    <small class="text-muted">Lorem ipsum dolor sit...</small>
                                </div>
                                <span class="text-muted notify-time">
                                    Yesterday
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                <span class="notify-icon bg-warning-light me-3">
                                    <i class="feather-file text-warning fs-5"/>
                                </span>
                                <div class="d-flex flex-column me-3">
                                    <strong class="fw-500">This month survey</strong>
                                    <small class="text-muted">Lorem ipsum dolor sit...</small>
                                </div>
                                <span class="text-muted notify-time">
                                    2 days ago
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle no-arrow"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img width="42" height="42" :src="require(`@/assets/images/admin.jpeg`)" class="img-fluid rounded-circle" alt="Admin image">
                            <span class="d-none d-md-inline-flex d-inline-flex flex-column ms-2">
                                <strong class="fw-600 lh-initial">Barly Vallendito</strong>
                                <small class="text-muted lh-initial">Admin Manager</small>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="feather-user me-3"/> Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="feather-settings me-3"/> Setting
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="feather-log-out me-3"/> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    import AutocompleteSearch from '@/components/search/AutocompleteSearch'

    export default {
        name: 'AdminHeader',
        components: {AutocompleteSearch},
        methods: {
            toggleSidebar() {
                const sidebar = document.querySelector('.sidebar'),
                    sidebarOverlay = document.querySelector('.sidebar-overlay');
                sidebar.classList.toggle('open-sidebar');
                sidebarOverlay.classList.toggle('open-overlay');
            },
            toggleSearch() {
                const searchInput = document.querySelector('.search-input');
                searchInput.classList.toggle('show-search');
            }
        }
    }
</script>