<template>
    <aside class="sidebar">
        <div class="logo-wrapper">
            <router-link :to="sidebarData.logo.url">
                <img :src="require(`@/${sidebarData.logo.src}`)"
                     class="img-fluid"
                     alt="Policlinic logo">
            </router-link>
        </div>
        <div class="scroll-wrapper">
            <nav>
                <div :class="{'mb-3': index !== sidebarData.length - 1}"
                     v-for="(nav, index) in sidebarData.navData"
                     :key="`sidebar-nav-${index}`">
                    <h6 class="nav-group-title">
                        {{ nav.navTitle }}
                    </h6>
                    <ul class="list-unstyled">
                        <li v-for="(navItem, itemIndex) in nav.navItems"
                            :key="`nav-item-${itemIndex}`">
                            <router-link :to="navItem.url" active-class="active">
                                <i :class="`feather-${navItem.icon}`"/> {{ navItem.title }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="sidebar-footer">
                <div class="p-all-20">
                    <div class="wizard-card mb-4">
                        <h6>Covid Informations</h6>
                        <div class="text-primary d-flex align-items-center mb-3">
                            <i class="feather-globe me-2"/> World
                        </div>
                        <small class="d-block"><span class="text-muted">Infected</span> - 8.119.575</small>
                        <small class="d-block"><span class="text-muted">Recovered</span> - 4.231.974</small>
                        <small class="d-block mb-3"><span class="text-muted">Deaths</span> - 439.217</small>
                        <a href="#" class="w-100 btn btn-primary">
                            Check Covid
                        </a>
                        <img :src="require(`@/assets/images/icons/covid-light-icon.png`)"
                             class="wizard-shape"
                             alt="Covid light icon">
                    </div>
                </div>
                <div class="copyright">
                    <small class="d-block"><strong>© Pli Clinic. 2022</strong></small>
                    <small class="d-block">
                        Poli Clinic is medical management for all doctor, patient & staff.
                    </small>
                </div>
            </div>
        </div>
    </aside>
    <div class="sidebar-overlay" @click="toggleSidebar"/>
</template>

<script>
    import sidebarData from '@/data/sidebar.json';

    export default {
        name: 'AdminSidebar',
        data() {
            return {
                sidebarData
            }
        },
        methods: {
            toggleSidebar() {
                const sidebar = document.querySelector('.sidebar'),
                    sidebarOverlay = document.querySelector('.sidebar-overlay');
                sidebar.classList.toggle('open-sidebar');
                sidebarOverlay.classList.toggle('open-overlay');
            }
        }
    }
</script>