@import '../variables';

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
  background-color: var(--bg-menu);
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.03);
  transition: $transition-duration;

  .logo-wrapper {
    padding: 25px;
  }

  nav {
    .nav-group-title {
      padding: 0 40px;
      color: var(--color-muted);
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    li {
      a {
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px 40px;
        color: var(--color-secondary);
        font-size: 15px;
        text-transform: capitalize;
        transition: $transition-duration;

        i {
          margin-right: 20px;
          color: var(--color-font-dim);
          transition: $transition-duration;
        }

        &:before {
          content: '';
          width: 3px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          display: inline-block;
          background-color: var(--bg-primary);
          transition: $transition-duration;
        }

        &.active {
          color: var(--color-primary);
          background: linear-gradient(90deg, rgba(0, 117, 255, 0.1) 0%, rgba(0, 117, 255, 0) 117.12%);

          i {
            color: var(--color-primary);
          }

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  .copyright {
    padding: 20px;
    border-top: 1px solid #efefef;

    strong {
      color: var(--color-font);
    }

    small {
      color: #c2c2c2;
    }
  }

  .scroll-wrapper {
    max-height: calc(100vh - 82px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: lighten($primary, 45%);
    }

    &::-webkit-scrollbar-thumb {
      background: lighten($primary, 35%);
      border-radius: 10px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: lighten($primary, 25%);
      }
    }
  }

  @media (max-width: 991px) {
    margin-left: -$sidebar-width;

    &.open-sidebar {
      margin-left: 0;
    }
  }
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  @media (max-width: 991px) {
    &.open-overlay {
      display: block;
    }
  }
}