@import '../variables';

.navbar-top {
  padding: 10px 15px;
  padding-left: $sidebar-width + 15;
  z-index: 9;
  background-color: var(--bg-menu);
  transition: $transition-duration;

  .nav-link {
    color: var(--color-font);
    transition: all $transition-duration ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
  }

  .navbar-nav-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      flex-shrink: 0;

      &.dropdown-notification {
        .nav-link {
          width: 40px;
          height: 40px;
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: var(--color-font-dim);
          border-radius: 50%;
          background-color: var(--bg-base);
        }

        .dropdown-item {
          padding: 15px 20px;
        }

        .notify-icon {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .notify-time {
          font-size: 13px;
        }
      }

      &.dropdown-user {
        .nav-link {
          padding: 8px 20px;
          border-radius: 18px;
          background-color: var(--bg-base);

          @media (max-width: 767px) {
            padding: 0;
            background-color: transparent;
          }
        }
      }

      .dropdown-menu {
        margin-top: 7px;

        &:before {
          width: 0;
          height: 0;
          content: '';
          z-index: 2;
          position: absolute;
          top: -7px;
          right: 15px;
          left: inherit;
          border-bottom: 7px solid var(--bg-dropdown);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding-left: 15px;
  }
}