@import '../variables';

body, html {
  font-family: 'Poppins', sans-serif;
}

.main-content {
  min-height: calc(100vh - 82px);
  padding: 30px;
  margin-left: $sidebar-width;
  background-color: var(--bg-base);
  transition: $transition-duration;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    min-height: calc(100vh - 67px);
  }
}