<template>
    <div class="overlay">
        <div class="spinner">
            <div class="spinner-blade" v-for="div in 12"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Preloader'
}
</script>