@import '../variables';

.card-title {
  font-size: 18px;
}

.chart-legends {
  display: flex;
  flex-wrap: wrap;

  .legend {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    margin-right: 12px;
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    border-radius: 8px;
    border: 1px solid var(--color-border);

    &:before {
      content: '';
      width: 13px;
      height: 13px;
      display: inline-block;
      margin-right: 8px;
      border-radius: 4px;
      background-color: var(--color-primary);
    }

    &.primary {
      &:before {
        background-color: var(--color-primary);
      }
    }

    &.purple {
      &:before {
        background-color: var(--color-indigo);
      }
    }

    &.teal {
      &:before {
        background-color: var(--color-teal);
      }
    }

    &.teal-deep {
      &:before {
        background-color: var(--color-teal-deep);
      }
    }

    &.light-blue {
      &:before {
        background-color: #e1eefe;
      }
    }
  }
}

.chart-filter-button-wrapper {
  padding: 8px;
  border-radius: 10px;
  background-color: lighten($primary, 45%);

  .btn {
    width: 105px;
    position: relative;
    padding: 6px 25px;
    color: var(--color-secondary);
    z-index: 1;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: var(--color-primary);
    }

    &.active {
      color: var(--color-primary);
    }

    &:nth-child(1) {
      &.active {
        ~ .slide {
          left: 0;
          opacity: 1;
        }
      }
    }

    &:nth-child(2) {
      &.active {
        ~ .slide {
          left: 105px;
          opacity: 1;
        }
      }
    }
  }

  .slide {
    width: 105px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 8px;
    background-color: var(--bs-white);
    transition: $transition-duration;
  }
}

.form-select-month {
  width: 65px;
  padding-right: 25px;
  border-radius: 10px;
  background-size: 10px;
}