<template>
    <div class="search-input">
        <div class="search-input-group">
            <i class="feather-search search-icon"/>
            <input type="text"
                   :class="[`form-control text-truncate`, {'show-suggestion': searchQuery && showResults}]"
                   autocomplete="off"
                   :placeholder="placeholder"
                   v-model="searchQuery"
                   @input="getSearchData"
                   @focus="showResults = true"
            >
            <div class="dropdown filter-dropdown">
                <a class="btn dropdown-toggle"
                   href="#"
                   id="filterDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Filter
                </a>
                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                    <li><a class="dropdown-item" href="#">By Country</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div v-if="searchQuery && showResults" class="search-input-results">
            <ul :class="{'d-flex align-items-center justify-content-center': !filteredResults.results}">
                <li v-for="(filteredResult, index) in filteredResults.results"
                    :key="`result-${index}`"
                    class="text-truncate"
                    @click="setFilteredItem(filteredResult)">
                    {{ filteredResult }}
                </li>
                <div v-if="!filteredResults.results" class="spinner">
                    <div class="spinner-blade" v-for="div in 12"/>
                </div>
            </ul>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'AutocompleteSearch',
        props: {
            placeholder: {
                type: String,
                default: 'Search...'
            },
            data: {
                type: Array,
                default: function () {
                    return ['Florida', 'Alabama', 'Alaska', 'Texas']
                }
            },
            api: {
                type: String
            }
        },
        data() {
            return {
                searchQuery: '',
                showResults: false,
                filteredResults: ''
            }
        },
        methods: {
            filterSearch() {
                this.filteredResults = this.data.filter(state => {
                    return state.toLowerCase().startsWith(this.searchQuery.toLowerCase());
                })
            },
            setFilteredItem(item) {
                this.searchQuery = item;
                this.showResults = false;
            },
            getSearchData() {
                if (this.searchQuery.length > 1) {
                    axios.post('https://apitest.iqfulfillment.com/v1/test/search', {
                        q: this.searchQuery
                    })
                        .then(response => {
                            this.filteredResults = response.data
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            }
        }
    }
</script>