@import '../variables';

.avatar {
  cursor: default;
  border-radius: $radius-default;
  border: 2px solid var(--bs-white);

  &.no-image {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bs-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.avatar-circle {
    border-radius: 50%;
  }
}

.status-avatar {
  position: relative;

  .status {
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: -2px;
    left: 10%;
    border-radius: 50%;
  }

  .avatar {
    &.avatar-circle {
      + .status {
        bottom: 7%;
      }
    }
  }

  @for $i from 40 through 200 {
    .size-#{$i} {
      &.avatar {
        + .status {
          width: 15%;
          height: 15%;
        }
      }
    }
  }
}

.avatar-group {
  display: flex;

  .avatar {
    margin-left: -12px;
    transition: all 0.25s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      z-index: 1;
      transform: translateY(-2px);
    }
  }

  .status-avatar {
    margin-left: -15px;
    transition: all 0.25s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    .avatar {
      margin: 0;
      transform: none;
    }

    &:hover {
      z-index: 1;
      transform: translateY(-2px);
    }
  }
}

.avatar-color-1 {
  background-color: #A66DD4;
}

.avatar-color-2 {
  background-color: #AEDDFF;
}

.avatar-color-3 {
  background-color: #3B76EF;
}

.avatar-color-4 {
  background-color: #5D3FC5;
}

.avatar-color-5 {
  background-color: #224CA4;
}

.avatar-color-6 {
  background-color: #66B2DD;
}

.avatar-color-7 {
  background-color: #DD66BB;
}

.avatar-color-8 {
  background-color: #1133CA;
}