@import '../variables';

.btn {
  border-radius: 10px;
  transition: all $transition-duration ease-in-out;

  &:focus {
    box-shadow: none;
  }

  &.btn-lg {
    font-size: 15px;
    padding: 12px 25px;
  }

  &.btn-primary {
    color: var(--bs-white);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: var(--color-primary);
      box-shadow: 0px 12px 20px rgba($primary, 0.3);
      transform: translateY(-3px);
    }
  }

  &.btn-primary-light {
    color: var(--color-primary);
    background-color: #EBF4FF;

    &:hover {
      background-color: darken(#EBF4FF, 5%);
    }
  }
}

.btn-mobile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-dim);
  border: none;
  border-radius: 50%;
  background-color: var(--bg-base);
}