@import '../variables';

.dropdown-toggle {
  display: flex;
  align-items: center;

  &:after {
    content: '\e92e';
    margin-left: 15px;
    color: var(--color-font-dim);
    font-family: 'feather';
    border: none;
  }

  &.no-arrow {
    &:after {
      display: none;
    }
  }

  &.btn-report-filter {
    border: 1px solid var(--color-border);

    &:hover {
      background-color: lighten($primary, 47%);
    }
  }
}

.dropdown-menu {
  padding: 10px 0;
  top: 100% !important;
  border: none;
  background-color: var(--bg-dropdown);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dropdown-item {
  padding: 5px 20px;
  transition: all $transition-duration ease-in-out;

  &:hover {
    background-color: var(--bg-base);
  }

  &.active {
    color: var(--color-font);
    background-color: var(--bg-base);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}