@import '../variables';

.search-input {
  position: relative;

  &-group {
    position: relative;
    border-radius: 30px;
    background-color: var(--bg-search);

    .search-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-font-dim);
    }

    .form-control {
      width: 450px;
      border-radius: 30px;
      padding: 10px 100px 10px 50px;
      background-color: transparent;
      transition: $transition-duration;

      &.show-suggestion {
        border-radius: 30px 30px 0 0;

        &:focus {
          border-color: var(--color-border);
        }
      }

      @media (max-width: 991px) {
        width: initial;
      }

      @media (max-width: 575px) {
        width: 100%;
      }
    }

    .filter-dropdown {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

      .dropdown-toggle {
        height: 100%;
        padding: 10px 20px;
        border-radius: 0;
        border-left: 1px solid var(--color-border);
      }
    }
  }

  &-results {
    position: absolute;
    left: 0;
    right: 0;

    ul {
      width: 100%;
      min-height: 200px;
      padding: 10px 0;
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      z-index: 99999;
      border-radius: 0 0 20px 20px;
      border: 1px solid var(--color-border);
      background-color: var(--bg-dropdown);

      li {
        padding: 5px 20px;
        cursor: pointer;
        transition: all $transition-duration ease-in-out;

        &:hover {
          background-color: var(--bg-base);
        }
      }
    }

    @media (max-width: 575px) {
      left: 15px;
      right: 15px;
    }
  }

  @media (max-width: 575px) {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: var(--bs-white);
    border-top: 1px solid #f3f3f3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: $transition-duration;

    &.show-search {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.form-control,
.form-select {
  &:focus {
    box-shadow: none;
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-muted);
  }
}