@import '../variables';

$spinner-size: 48px !default;
$spinner-color: #69717d !default;

.overlay {
  height: calc(100vh - 155px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  font-size: $spinner-size;

  .spinner-blade {
    width: 0.074em;
    height: 0.2777em;
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    border-radius: 0.0555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade 1s infinite linear;

    $animation-delay: 0s;
    $blade-rotation: 0deg;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay;
        transform: rotate($blade-rotation);
        $blade-rotation: $blade-rotation + 30;
        $animation-delay: $animation-delay + .083;
      }
    }
  }
}

@keyframes spinner-fade {
  0% {
    background-color: $spinner-color
  }
  100% {
    background-color: transparent
  }
}