@import '../variables';

.icon-box {
  width: 55px;
  height: 55px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: var(--color-primary);
  border-radius: 12px;
  background-color: rgba($primary, 0.1);

  &.success {
    color: var(--color-success);
    background-color: rgba(240, 251, 248, 1);
  }

  &.warning {
    color: var(--color-warning);
    background-color: rgba(254, 247, 238, 1);
  }

  &.primary {
    color: var(--color-primary);
    background-color: rgba(228, 241, 255, 1);
  }

  &.danger {
    color: var(--color-danger);
    background-color: rgba($danger, 0.1);
  }

  &.purple {
    color: #2E5DCC;
    background-color: rgba(#2E5DCC, 0.1);
  }
}

.information-calendar {
  max-width: 100%;
  overflow-x: hidden;

  ul {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      flex-shrink: 0;

      .date {
        width: 40px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 13px 8px;
        margin-right: 5px;
        border-radius: 20px;
        background-color: transparent;
        transition: $transition-duration;

        .week-name {
          margin-bottom: 10px;
          color: var(--color-muted);
          font-size: 12px;
          font-weight: 500;
        }

        .week-day {
          font-size: 14px;
          font-weight: 600;
        }

        &:hover {
          background-color: lighten($primary, 46%);
        }

        &.active {
          color: var(--color-primary);
          background-color: lighten($primary, 46%);

          .week-name {
            color: var(--color-primary);
          }

          .week-day {
            position: relative;

            &:before {
              content: '*';
              position: absolute;
              top: -5px;
              right: -5px;
              color: var(--color-primary);
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  &:after {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
    background-color: var(--bs-white);
  }
}

.wizard-card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  z-index: 1;
  border-radius: $radius-default;
  background-color: #f4faff;

  .icon-box {
    width: 65px;
    height: 65px;
  }

  .wizard-title {
    font-size: 13px;
    font-weight: 600;
  }

  .wizard-subtitle {
    font-size: 12px;
  }

  .wizard-subtitle-muted {
    color: var(--color-muted);
    font-size: 12px;
  }

  .wizard-action {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 15px;
    color: var(--bs-white);
    border: none;
    border-radius: $radius-default 0 $radius-default 0;
  }

  .wizard-shape {
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: -1;
  }
}