<template>
    <div class="maintenance-wrapper">
        <img width="200"
             :src="require(`@/assets/images/under-maintenance.png`)"
             class="img-fluid mb-3"
             alt="Under Maintenance">
        <h2>Oops Sorry!</h2>
        <h4 class="text-muted mb-4">We're working on this page content</h4>
        <router-link to="/" class="btn btn-lg btn-primary">
            Go To Homepage
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'Index'
}
</script>

<style lang="scss" scoped>
.maintenance-wrapper {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>