<template>
    <admin-header/>
    <admin-sidebar/>
    <div class="main-content">
        <router-view/>
    </div>
</template>
<script>
    import AdminHeader from '@/components/layout/AdminHeader';
    import AdminSidebar from '@/components/layout/AdminSidebar';

    export default {
        components: {AdminHeader, AdminSidebar}
    }
</script>